@font-face {
  font-family: "Akira";
  src: url("../assets/fonts/Akira\ Expanded\ Super\ Bold.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

body,
html {
  overflow-x: hidden;
  font-family: "Clash Display", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Akira";
}
:root {
  --text-color: #fff;
  --primary-color: #f2ff00;
  --tertiary-color: #000;
  --text-color-16: #ffffff29;
  --text-color-50: #ffffff80;
}
a,
span {
  display: inline-block;
}
.container {
  max-width: 1820px !important;
}
.nav-btn {
  padding: 20px 20px 20px 41px;
  outline: 1px solid var(--primary-color);
  background-color: #fff7001a;
  backdrop-filter: blur(2px);
  border-radius: 37.5px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

.active {
  border-radius: 110px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
.active:hover {
  background: var(--primary-color) !important;
}
.title1 {
  font-size: 141px;
  color: var(--text-color);
  line-height: 130px;
}

/* Nav-bar */
.hdr-sec {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 999;
}
.navbar-brand {
  width: 172px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offcanvas {
  flex-direction: row !important;
  align-items: center;
}
.navbar-nav {
  max-width: 1305px;
  padding: 3px;
  backdrop-filter: blur(13px);
  margin: 0 auto;
  /* height: 74px; */
  align-items: center;
  border-radius: 56px;
  background-color: var(--text-color-16) !important;
  border: 1px solid #ffffff42;
}
.navbar-nav li:nth-child(6) {
  margin-right: 0;
}
.nav-item {
  margin-right: 5px;
  /* padding: 20px; */
}
.nav-link {
  padding: 21px 20px !important;
  color: var(--text-color);
  font-size: 18px;
}
.nav-link:hover {
  /* padding: 20px; */
  color: var(--text-color);
  border-radius: 110px;
  background-color: var(--tertiary-color);
}
.search-form {
  max-width: 370px;
}
/* .search-form {
    width: 298px;
} */
.search-wrpr {
  width: 100%;
  padding: 20px 15px;
  border-radius: 74px;
  background-color: var(--tertiary-color);
}
.search-wrpr > label > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.search-input {
  background: none;
  border: none;
}
.search-input::placeholder {
  color: var(--text-color) !important;
  font-size: 16px;
}
.cart-bg {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}
.cart-bg > img {
  width: 24px;
  height: 24px;
}
.nav-btn > img {
  width: 37px;
  height: 37px;
  object-fit: contain;
  margin-left: 10px;
}
/* Banner Section */
.banner-sec {
  position: relative;
  padding: 180px 0 122px;
  min-height: 100vh;
  background: url(../assets/Banner-bg.jpg) no-repeat center/cover;
}
.banner-sec::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}
.banner-left-cntn {
  max-width: 550px;
  margin-left: auto;
}
.grey-text {
  font-size: 27px;
  font-weight: 500;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img-circles {
  margin-block: 40px;
}

.img-circle {
  width: 98px;
  height: 98px;
}
/* .img-circle {
    width: 80px;
    height: 80px;
} */
.img-circle > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-circles li:nth-child(2) img {
  transform: translateX(-26px);
}
.img-circles li:nth-child(3) img {
  transform: translateX(-52px);
}
.img-circles li:nth-child(4) img {
  transform: translateX(-78px);
}
.member-text {
  max-width: 300px;
  font-size: 27px;
  font-weight: 500;
  color: var(--text-color-50);
}

.member-text > span {
  color: var(--primary-color);
}
.scroll {
  margin-top: 40px;
  font-size: 27px;
  font-weight: 500;
  padding-left: 16.5px;
  color: var(--text-color);
  border-left: 1px solid var(--text-color);
}
.banner-right-cntn {
  max-width: 1170px;
  margin-left: auto;
  position: relative;
}
.title1 > .yellow-text {
  color: var(--primary-color);
}
.yellow-line {
  transform: skewX(-30deg);
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
  position: relative;
}
.yellow-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}
.yellow-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 24.78px;
  height: 59.08px;
  background: var(--primary-color);
}
.banner-btn {
  max-width: 317px;
  color: var(--text-color);
  font-size: 33px;
  border-bottom: 1px solid var(--text-color);
  padding: 0 !important;
  margin-top: 100px;
}
.white-arrow {
  width: 24px;
  height: 27px;
  object-fit: cover;
}
.overlay {
  width: 627px;
  height: 627px;
  position: absolute;
  bottom: 23px;
  right: -167px;
}
.overlay > img {
  width: 100%;
  height: 100%;

  /* filter: blur(872.65px); */
  object-fit: contain;
}

@media screen and (max-width: 1750px) {
  .title1 {
    font-size: 100px;
    color: var(--text-color);
    line-height: 100px;
  }
  .nav-btn {
    padding: 20px 10px 20px 17px;
    outline: 1px solid var(--primary-color);
    background-color: #fff7001a;
    backdrop-filter: blur(2px);
    border-radius: 37.5px;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
  }
  /* Header Section */
  .navbar-brand {
    width: 150px;
  }
  .nav-link {
    padding: 20px 13px !important;
    color: var(--text-color);
    font-size: 16px;
  }
  .nav-btn > img {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-left: 0px;
  }
  /* Banner Section */
  .banner-sec {
    padding-bottom: 60px;
  }
  .banner-btn {
    max-width: 252px;
    font-size: 25px;
    margin-top: 60px;
  }
  .img-circles {
    margin-block: 30px;
  }
  .member-text {
    max-width: 300px;
    font-size: 20px;
  }
  .yellow-line {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .title1 {
    font-size: 87px;
    line-height: 83px;
  }
  /* Header Section */
  .offcanvas {
    flex-direction: column !important;
    text-align: center;
    background-color: #000;
  }
  .navbar-nav {
    background: none !important;
    border: none;
  }
  .nav-item {
    margin-right: 0;
  }
  .nav-item:hover {
    background: none;
  }
  .search-form {
    display: none !important;
  }
  .cart-bg {
    margin-bottom: 30px;
  }
  /* Banner Section */
  .grey-text {
    font-size: 22px;
  }
  .member-text {
    max-width: 300px;
    font-size: 18px;
  }
  .scroll {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    padding-left: 16.5px;
    color: var(--text-color);
    border-left: 1px solid var(--text-color);
  }
  .img-circles {
    margin-block: 25px;
  }
  .img-circle {
    width: 76px;
    height: 76px;
  }
  .banner-btn {
    max-width: 252px;
    font-size: 21px;
    margin-top: 38px;
  }
}
@media screen and (max-width: 1200px) {
  .title1 {
    font-size: 70px;
    line-height: 70px;
  }
  /* Banner Section */
  .grey-text {
    font-size: 18px;
  }
  .yellow-line {
    margin-left: 40px;
  }
}
@media screen and (max-width: 992px) {
  .title1 {
    font-size: 62px;
    line-height: 70px;
  }
  /* Header Section */
  .nav-link {
    padding: 13px 13px !important;
  }

  /* Banner Section */
  .banner-row {
    flex-direction: column-reverse;
  }
  .banner-right-cntn {
    max-width: 100%;
  }
  .yellow-line {
    width: 18.78px;
    height: 51.08px;
  }
  .yellow-line::before {
    left: -34px;
    width: 18.78px;
    height: 51.08px;
  }
  .yellow-line::after {
    left: 34px;
    width: 18.78px;
    height: 51.08px;
  }
  .banner-left-cntn {
    max-width: 100%;
    margin: 70px 0 0;
  }
  .member-text {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .title1 {
    font-size: 35px;
    line-height: 36px;
  }
  /* Header Section */
  .navbar-brand {
    width: 130px;
  }
  /* Banner Section */
  .banner-sec {
    padding-bottom: 40px;
  }
  .yellow-line {
    margin-left: 25px;
  }
  .yellow-line {
    width: 12.78px;
    height: 33.08px;
    /* top: 17px; */
  }
  .yellow-line::before {
    left: -24px;
    width: 12.78px;
    height: 33.08px;
    /* top: 17px; */
  }
  .yellow-line::after {
    left: 24px;
    width: 12.78px;
    height: 33.08px;
    /* top: 17px; */
  }
  .banner-left-cntn {
    margin: 50px 0 0;
  }
}
